/* カスタムチェックボックスのスタイル */
.custom-checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

.custom-checkbox {
    position: relative;
    cursor: pointer;
    padding-left: 25px; /* チェックボックスの横の余白を設定 */
}

.custom-checkbox input {
    position: absolute;
    opacity: 0; /* デフォルトのチェックボックスを非表示にする */
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px; /* チェックマークの高さ */
    width: 15px; /* チェックマークの幅 */
    background-color: transparent; /* チェックボックスの背景色を透明に設定 */
    border: 2px solid blue; /* チェックボックスの境界線を青に設定 */
    border-radius: 3px; /* チェックボックスの角を丸くする */
}

/* チェックボックスが選択されたときのスタイル */
.custom-checkbox input:checked ~ .checkmark {
    background-color: blue; /* チェックボックスが選択されたときの背景色を青に設定 */
}

